body{
  text-align: center;
  background-color: rgb(35, 35, 35);
  color: whitesmoke;
  margin: 20px;
}

.rojo{
  color: red;
}

.rey{
  border:1px solid white;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
}

.caja{
  display: grid;
  grid-template-columns: 
            repeat(auto-fill, 
            minmax(200px, 1fr));
  grid-column-gap: 10px;
}

img{
  width: 100%;
  margin-top: 11px;
}

h1{
  width: 100%;
}

.numero{
  user-select: none;
  font-size: 2em;
}